i {
	background-image: url(../img/bg.png);
}

#head {
	width: 100%;
	height: 180px;
	border-bottom: #357e34 solid 2px;
}

#head .headerTop {
	/*头部顶部开始*/
	width: 100%;
	height: 28px;
	border-bottom: 1px solid #ddd;
	background: #f5f5f5;
}

#head .headerTop a:hover {
	color: skyblue;
}

#head .headerTop .ht_left {
	/* 头部顶部左侧*/
	float: left;
}

#head .headerTop .ht_left .place {
	float: left;
	margin-top: 7px;
	width: 83px;
	position: relative;
}

#head .headerTop .ht_left .place .real_place {
	/*display: none;*/
}

#head .headerTop .ht_left .place .destnation {
	display: inline-block;
	margin-left: 10px;
}

#head .headerTop .ht_left .place .dire {
	background: url(../img/xqico.png) 0 -31px no-repeat;
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 3px;
	right: 0;
}

#head .headerTop .ht_left .epetbrand {
	display: inline-block;
	width: 95px;
	height: 21px;
	line-height: 20px;
	text-indent: 28px;
	background: url(../img/bg.png) 0 -429px no-repeat;
	margin-top: 4px;
	margin-left: 14px;
	margin-right: 14px;
}

#head .headerTop .ht_right {
	float: right;
}

#head .headerTop .ht_right li {
	float: left;
	padding: 8px 0;
	margin: 0 12px;
}

#head .headerTop .ht_right li .weidenglu {
	display: block;
}

#head .headerTop .ht_right li .denglu {
	display: none;
}

#head .headerTop .ht_right li .tuichu {
	display: none;
}

#head .headerTop .ht_right .shop i {
	/*background-position: -291px -46px;
    width: 14px;
    height: 14px;*/
	float: left;
	margin-top: 2px;
	margin-right: 5px;
}

#head .headerTop .ht_right .peo {
	position: relative;
}

#head .headerTop .ht_right .peo i {
	/*width: 13px;
    height: 13px;
    background-position: -312px -46px;*/
	/* background-repeat: no-repeat;*/
	margin-top: 2px;
	margin-right: 5px;
	float: left;
}

#head .headerTop .ht_right .peo .myepet {
	border: 1px solid #ddd;
	border-top: none;
	position: absolute;
	left: -20px;
	top: 26px;
	float: left;
	padding: 5px 10px;
	display: none;
	background-color: #FFF;
}

#head .headerTop .ht_right .peo .myepet li {
	list-style: disc;
}

#head .headerTop .ht_right .peo .myepet li a {
	display: block;
	width: 60px;
}

#head .headerTop .ht_right b {
	display: block;
	width: 0;
	height: 0;
	border: transparent solid 4px;
	border-top: #717171 solid 4px;
	position: absolute;
	right: -12px;
	top: 15px;
	overflow: hidden;
}

#head .headerTop .ht_right .dropme {
	position: relative;
}

#head .headerTop .ht_right .dropme .probox {
	position: absolute;
	padding: 15px;
	border: 1px solid #ddd;
	border-top: none;
	right: -1px;
	top: 26px;
	z-index: 110;
	width: 170px;
	background: #FFF;
	display: none;
}

#head .headerTop .ht_right .dropme .probox .btn {
	background: url(../img/newbtn.png) no-repeat;
	line-height: 28px;
	display: inline-block;
	background-position: right 0;
	padding-right: 10px;
	height: 28px;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
}

#head .headerTop .ht_right .dropme .probox .btn span {
	padding-left: 10px;
}

#head .headerTop .ht_right .phone {
	position: relative;
}

#head .headerTop .ht_right .phone i {
	background-position: -334px -46px;
	width: 13px;
	height: 13px;
	background-repeat: no-repeat;
	margin-top: 3px;
	margin-right: 5px;
	float: left;
}

#head .headMiddle {
	/*头部中部开始*/
	overflow: hidden;
	width: 100%;
}

#head .headMiddle .loge {
	width: 268px;
	height: 65px;
	display: block;
	float: left;
	background: url(../img/epet-logo.png) no-repeat;
	margin-top: 25px;
}

#head .headMiddle .search {
	width: 482px;
	float: left;
	margin: 23px 0 0 52px;
	position: relative;
	overflow: hidden;
}

#head .headMiddle .search #searchresult {
	position: absolute;
	top: 20px;
	left: 20px;
}

#searchresult {
	width: 300px;
	display: none;
}
#searchresult li a {
	display: block;
	padding: 10px 0;
	text-decoration: none;
	width: 300px;
	height: 18px;
	color: #999;
}

#searchresult li a:hover {
	background: paleturquoise;
}
.bg{
	background: skyblue;
}
#head .headMiddle .search .searchform {
	overflow: hidden;
	border: 2px solid green;
	position: relative;
}

#head .headMiddle .search .searchform #ss {
	border-style: none;
	display: inline-block;
	width: 398px;
	height: 30px;
	float: left;
}

#head .headMiddle .search .searchform .sou {
	display: inline-block;
	float: right;
	width: 78px;
	height: 32px;
	background: url(../img/newbtn.png) left -311px no-repeat;
	text-align: center;
	line-height: 32px;
	font-size: 15px;
	color: #fff;
	vertical-align: middle;
}

#head .headMiddle .search .keywords {
	margin-top: 12px;
	overflow: hidden;
}

#head .headMiddle .search .keywords label {
	float: left;
	display: inline;
	white-space: nowrap;
	color: #999;
}

#head .headMiddle .search .keywords span {
	color: #999;
	margin: 0 9px;
}

#head .headMiddle .hotphone {
	float: left;
	width: 144px;
	height: 25px;
	margin: 32px 0 0 55px;
	background: url(../img/bg.png) 0 -520px no-repeat;
}

#head .headMiddle .shopcar {
	float: left;
	margin: 23px 0 0 0;
	width: 130px;
	height: 39px;
	text-align: center;
	position: relative;
	line-height: 39px;
	margin-left: 60px;
}

#head .headMiddle .shopcar .dongcar {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 38px;
	height: 38px;
	border-radius: 20%;
	background: url(../img/shopping-cart.gif) no-repeat #459d36;
}

#head .headMiddle .shopcar .gogo {
	display: inline-block;
	margin-left: 20px;
}

#head .headBottom {
	width: 100%;
	margin-top: 20px;
	font-size: 16px;
}

#head .headBottom .botleft {
	float: left;
}

#head .headBottom .botleft {
	position: relative;
}

#head .headBottom .botleft li {
	width: 114px;
	height: 34px;
	float: left;
	text-align: center;
	line-height: 34px;
}

#head .headBottom .botleft li .cate1 {
	display: inline-block;
	background: url(../img/bg2.png) -17px -1257px no-repeat;
	margin-top: 0;
	margin-left: 5px;
	width: 16px;
	height: 13px;
	vertical-align: middle;
}

#head .headBottom .botleft .petselct {
	position: relative;
	color: #666;
}

#head .headBottom .botleft .petselct .select1 {
	width: 228px;
	height: 358px;
	position: absolute;
	top: 34px;
	left: 0;
	display: none;
	z-index: 10;
}

#head .headBottom .botleft .petselct .select .select2 {
	width: 228px;
	height: 178px;
	border: 1px solid #ccc;
	text-align: center;
	background: #fff;
}

#head .headBottom .botleft .petselct .select .select2 span {
	display: inline-block;
	width: 63px;
	height: 63px;
	background: url(../img/pet-cate.png) 0 -253px no-repeat;
	margin-top: 25px;
	;
}

#head .headBottom .botleft .petselct .select .select2 p {
	line-height: 24px;
	padding-bottom: 4px;
	color: #999;
}

#head .headBottom .botleft .petselct .select .select2 .now {
	display: inline-block;
	width: 132px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #aeaeae;
	color: #aeaeae;
	border-radius: 3px;
}

#head .headBottom .botleft .petselct .select .select3 span {
	display: inline-block;
	width: 63px;
	height: 63px;
	background: url(../img/pet-cate.png) 0 -63px no-repeat;
	margin-top: 25px;
	;
}

#head .headBottom .botleft .petselct .select .select3 p {
	line-height: 24px;
	padding-bottom: 4px;
	color: #000;
}

#head .headBottom .botleft .petselct .select .select3 .now {
	display: inline-block;
	width: 132px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #6c33a8;
	color: #6c33a8;
	border-radius: 3px;
}

#head .headBottom .botleft .cla {
	color: #666;
	position: relative;
	background: #8d02de;
}

#head .headBottom .botleft .cla .cate2 {
	width: 13px;
	height: 7px;
	display: inline-block;
	background: url(../img/bg2.png) 0px -1276px no-repeat;
	margin-top: 0;
	margin-left: 5px;
	vertical-align: middle;
}

#head .headBottom .petClass {
	position: absolute;
	top: 34px;
	left: 0;
	width: 228px;
	height: 358px;
	z-index: 9999;
}

#head .headBottom .petClass a:hover {
	color: skyblue;
}

#head .headBottom .cla .petClass li {
	width: 100%;
	background: #fcfcfc;
}

#head .headBottom .botleft .petClass li i {
	display: inline-block;
	color: #999;
	width: 40px;
	margin-left: 4px;
	text-decoration: none;
	font-size: 12px;
	font-style: normal;
}

#head .headBottom .botleft .petClass li {
	width: 100%;
	height: 44px;
	display: block;
	font-size: 14px;
	border-bottom: 1px dotted #ccc;
	position: relative;
	background: #fff;
}

.menuIcobg {
	background: url(../img/menuIco1.png) no-repeat;
	display: inline-block;
	width: 18px;
	height: 16px;
	float: left;
	margin-top: 12px;
	margin-left: 25px;
}

#head .headBottom .botleft .petClass .menu1 {
	background-position: 100% 1px;
}

#head .headBottom .botleft .petClass .menu2 {
	background-position: 100% -34px;
}

#head .headBottom .botleft .petClass .menu3 {
	background-position: 100% -69px;
}

#head .headBottom .botleft .petClass .menu4 {
	background-position: 100% -208px;
}

#head .headBottom .botleft .petClass .menu5 {
	background-position: 100% -245px;
}

#head .headBottom .botleft .petClass .menu6 {
	background-position: 100% -278px;
}

#head .headBottom .botleft .petClass .menu7 {
	background-position: 100% -314px;
}

#head .headBottom .botleft .petClass .activty {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #459D36;
	background: #fff;
}

#head .headBottom .botleft .petClass .activty img {
	float: left;
	display: inline-block;
	margin-top: 12px;
	margin-left: 25px;
	padding-right: 3px;
}

#head .headBottom .botleft .petClass .activty a {
	display: inline-block;
	width: 30px;
	height: 20px;
	border-radius: 20%;
	background: #fb6003;
	text-align: center;
	line-height: 20px;
	color: #fff;
	margin-left: 25px;
}

#head .headBottom .botleft .dogs {
	border: 1px solid #62a727;
	box-shadow: 3px 3px 4px #777;
	background: #f5f5f5;
	padding-right: 20px;
	position: absolute;
	top: 34px;
	left: 226px;
	line-height: 30px;
	z-index: 5;
	font-size: 12px;
	background: #fff;
	display: none;
	overflow: hidden;
}

#head .headBottom .botleft .dogs .dog_l {
	width: 550px;
	height: 100%;
	float: left;
}

#head .headBottom .botleft .dogs .dog_l p {
	border-bottom: 1px dotted #ccc;
	margin-left: 5px;
	line-height: 50px;
}

#head .headBottom .botleft .dogs span {
	color: #ddd;
}

#head .headBottom .botleft .dogs .dog1 {}

#head .headBottom .botleft .dogs .dog_l .title {
	width: 100%;
	height: 50px;
}

#head .headBottom .botleft .dogs .dog_l .title .titimg {
	float: left;
}

#head .headBottom .botleft .dogs .dog_l .title .xiabutt {
	background: url(../img/bg.png) -470px -240px no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
	float: left;
	margin-top: 8px;
	margin-left: 10px;
}

#head .headBottom .botleft .dogs .dog_l .title .tmain {
	height: 37px;
	display: inline-block;
	float: left;
	margin-left: 10px;
	font-size: 14px;
	color: #000;
}

#head .headBottom .botleft .dogs .dog_l .title .dongtu {
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
}

#head .headBottom .botleft .dogs .dog_l .xiaolei .xiao_biao {
	display: inline-block;
	color: green;
	font-weight: bold;
	margin-left: 60px;
	padding-right: 10px;
	width: 50px;
}

#head .headBottom .botleft .dogs .dog_l .xiaolei .xiaoimg {
	vertical-align: middle;
	width: 35px;
	height: 35px;
	display: inline-block;
}

#head .headBottom .botleft .dogs .dog_l .xiaolei span {
	padding: 0 5px;
}

#head .headBottom .botleft .dogs .dog_l .dog1 {
	display: block;
}

#head .headBottom .botleft .dogs .dog_l .dog3,
.dog2,
.dog4,
.dog5,
.dog6,
{
	display: none;
}

#head .headBottom .botright {
	float: left;
}

#head .headBottom .botright a {
	display: inline-block;
	padding: 8px 24px;
	font-weight: bold;
	font-size: 16px;
}

#head .headBottom .botright a:hover {
	color: green;
}

#head .headBottom .botright a .btrs {
	display: inline-block;
	width: 13px;
	height: 17px;
	background: url(../img/bg2.png) -35px -1280px;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 6px;
}

#head .headBottom .botright .shiyong {
	position: relative;
}

#head .headBottom .botright img {
	position: absolute;
	top: -5px;
	right: 10px;
}